{% extends "base.html" %}
{% block content %}


<div>
    <h1 >{{ title }}</h1>

{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        
        <div class="caption">
        {% if obj.draft %}
            <h3>Staff only: Draft</h3>
        {% endif %} 
        {% if obj.publish > today %}
            <h3>Staff Only: Future Post</h3>
        {% endif %}
        <div>
            <h3 >
                <a class = 'title_list' href='{{ obj.get_absolute_url }}'>{{ obj.title }} </a> 
            </h3>
        </div>
        <div>
            <small>{{ obj.publish }}
            {% if obj.user.get_full_name %}
             . {{ obj.user.get_full_name }}
            {% endif %}
            </small>
        </div>
        {% if obj.image %}
            <img src='{{ obj.image.url }}' class='img-fluid' />
        {% endif %}
        <p>{{ obj.content|linebreaks|truncatechars:1000 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-outline-primary" role="button">Read More</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
<hr/>
{% endfor %}


<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination  ">
            <li class="page-item">
                {% if object_list.has_previous %}
                    <a class="page-link" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                {% endif %}
            </li>
            <li class="page-item">
                <a class="page-link" >Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                </a>
            </li>
            
            <li class="page-item">
                {% if object_list.has_next %}

                    <a class="page-link" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    
</div>




</div>

{% endblock content %}